.version.about_us /* version checker */
{
	color: #00001B;
	background-color: #3AFDDD;
}

.js body
{
	visibility: hidden;
}

.js body.initialized
{
	visibility: visible;
}

@font-face
{
	font-family: '__Oswald_5';
	src: url('../fonts/oswald.light-webfont.eot');
	src: local('☺'), url('../fonts/oswald.light-webfont.woff') format('woff'), url('../fonts/oswald.light-webfont.svg') format('svg');
	font-weight: 300;
	font-style: normal;
}

#page
{
	border-color: #000000;
	z-index: 1;
	border-width: 0px;
	background-color: transparent;
	margin-right: auto;
	min-height: 500px;
	width: 100%;
	background-image: none;
	margin-left: auto;
}

#u1186
{
	background-color: #212528;
	z-index: 2;
}

#u132-5
{
	margin-right: -10000px;
	position: relative;
}

#u1186-bw
{
	z-index: 2;
}

#u1455
{
	background-color: #212528;
	z-index: 3;
	min-height: 42px;
	padding-bottom: 20px;
}

#u1186_align_to_page,#u1455_align_to_page
{
	margin-right: auto;
	margin-left: auto;
	position: relative;
}

#u1456-4
{
	color: #FFFFFF;
	z-index: 4;
	text-align: right;
	margin-top: 9px;
	position: relative;
	background-color: transparent;
	margin-right: -10000px;
	min-height: 33px;
}

#u1455-bw
{
	z-index: 3;
	min-height: 42px;
}

.html
{
	background-color: #FFFFFF;
}

body
{
	position: relative;
}

.verticalspacer
{
	min-height: 362px;
}

@media (min-width: 601px)
{
	#muse_css_mq
	{
		background-color: #FFFFFF;
	}

	#bp_infinity.active
	{
		display: block;
	}

	#u1186
	{
		min-height: 59px;
		padding-bottom: 17px;
	}

	#u132-5
	{
		z-index: 12;
		min-height: 23px;
		margin-top: 25px;
		width: 15%;
		left: 3.13%;
	}

	#u98-4
	{
		z-index: 8;
		min-height: 18px;
		position: relative;
		margin-right: -10000px;
		margin-top: 33px;
		width: 6.57%;
		left: 58.55%;
	}

	#u108-4
	{
		z-index: 17;
		min-height: 18px;
		position: relative;
		margin-right: -10000px;
		margin-top: 33px;
		width: 7.92%;
		left: 65.11%;
	}

	#pu126-4
	{
		margin-right: -10000px;
		margin-top: 33px;
		width: 18.65%;
		margin-left: 73.13%;
	}

	#u126-4
	{
		z-index: 21;
		min-height: 18px;
		position: relative;
		margin-right: -10000px;
		width: 39.67%;
		left: 60.34%;
	}

	#u114-4
	{
		z-index: 25;
		min-height: 18px;
		position: relative;
		margin-right: -10000px;
		width: 39.11%;
	}

	#u120-4
	{
		z-index: 29;
		min-height: 18px;
		position: relative;
		margin-right: -10000px;
		width: 22.91%;
		left: 38.55%;
	}

	#u1186-bw
	{
		min-height: 59px;
	}

	#page,#u1186_align_to_page,#u1455_align_to_page
	{
		max-width: 960px;
	}

	#u1456-4
	{
		width: 28.65%;
		left: 69.28%;
	}

}

@media (max-width: 600px)
{
	/*

*/

	#muse_css_mq
	{
		background-color: #000258;
	}

	#bp_600.active
	{
		display: block;
	}

	#pu1186
	{
		width: 0.01px;
		margin-right: -10000px;
	}

	#u1186
	{
		min-height: 61px;
		padding-bottom: 15px;
	}

	#u132-5
	{
		z-index: 8;
		width: 83px;
		min-height: 18px;
		margin-top: 27px;
		left: 4.84%;
	}

	#u805
	{
		z-index: 13;
		position: relative;
		margin-right: -10000px;
		margin-top: 27px;
		width: 4.67%;
		left: 90%;
	}

	#u1186-bw
	{
		min-height: 61px;
	}

	#u653
	{
		z-index: 16;
	}

	#u654-3
	{
		z-index: 17;
		min-height: 42px;
		padding-top: 10px;
		padding-bottom: 10px;
	}

	#u654-3:hover
	{
		padding-top: 10px;
		padding-bottom: 10px;
		min-height: 42px;
		margin: 0px 0px 0px 0%;
	}

	#u654-3:active
	{
		padding-top: 10px;
		padding-bottom: 10px;
		min-height: 42px;
		margin: 0px 0px 0px 0%;
	}

	#u654-3.AccordionPanelTabOpen
	{
		padding-top: 10px;
		padding-bottom: 10px;
		min-height: 42px;
		margin: 0px 0px 0px 0%;
	}

	#u654-2
	{
		margin-left: 10px;
	}

	#u655
	{
		z-index: 20;
		padding-bottom: 7px;
	}

	#u720
	{
		min-height: 17px;
		padding-bottom: 17px;
		position: relative;
	}

	#u720:hover
	{
		min-height: 17px;
		margin: 0px 0px 0px 0%;
	}

	#u720:active
	{
		min-height: 17px;
		margin: 0px 0px 0px 0%;
	}

	#u722-4
	{
		min-height: 17px;
		position: relative;
		top: 8px;
	}

	#u720:hover #u722-4
	{
		padding-top: 0px;
		padding-bottom: 0px;
		min-height: 17px;
		margin: 0px 0px 0px 0%;
	}

	#u720:active #u722-4
	{
		padding-top: 0px;
		padding-bottom: 0px;
		min-height: 17px;
		margin: 0px 0px 0px 0%;
	}

	#u711
	{
		min-height: 17px;
		padding-bottom: 17px;
		position: relative;
	}

	#u720.MuseMenuActive,#u711:hover
	{
		min-height: 17px;
		margin: 0px 0px 0px 0%;
	}

	#u711:active
	{
		min-height: 17px;
		margin: 0px 0px 0px 0%;
	}

	#u712-4
	{
		min-height: 17px;
		position: relative;
		top: 8px;
	}

	#u720.MuseMenuActive #u722-4,#u711:hover #u712-4
	{
		padding-top: 0px;
		padding-bottom: 0px;
		min-height: 17px;
		margin: 0px 0px 0px 0%;
	}

	#u711:active #u712-4
	{
		padding-top: 0px;
		padding-bottom: 0px;
		min-height: 17px;
		margin: 0px 0px 0px 0%;
	}

	#u770
	{
		min-height: 17px;
		padding-bottom: 17px;
		position: relative;
	}

	#u711.MuseMenuActive,#u770:hover
	{
		min-height: 17px;
		margin: 0px 0px 0px 0%;
	}

	#u770:active
	{
		min-height: 17px;
		margin: 0px 0px 0px 0%;
	}

	#u772-4
	{
		min-height: 17px;
		position: relative;
		top: 8px;
	}

	#u711.MuseMenuActive #u712-4,#u770:hover #u772-4
	{
		padding-top: 0px;
		padding-bottom: 0px;
		min-height: 17px;
		margin: 0px 0px 0px 0%;
	}

	#u770:active #u772-4
	{
		padding-top: 0px;
		padding-bottom: 0px;
		min-height: 17px;
		margin: 0px 0px 0px 0%;
	}

	#u1117
	{
		min-height: 17px;
		padding-bottom: 17px;
		position: relative;
	}

	#u770.MuseMenuActive,#u1117:hover
	{
		min-height: 17px;
		margin: 0px 0px 0px 0%;
	}

	#u1117:active
	{
		min-height: 17px;
		margin: 0px 0px 0px 0%;
	}

	#u1120-4
	{
		min-height: 17px;
		position: relative;
		top: 8px;
	}

	#u770.MuseMenuActive #u772-4,#u1117:hover #u1120-4
	{
		padding-top: 0px;
		padding-bottom: 0px;
		min-height: 17px;
		margin: 0px 0px 0px 0%;
	}

	#u1117:active #u1120-4
	{
		padding-top: 0px;
		padding-bottom: 0px;
		min-height: 17px;
		margin: 0px 0px 0px 0%;
	}

	#u1059
	{
		min-height: 17px;
		padding-bottom: 17px;
		position: relative;
	}

	#u1117.MuseMenuActive,#u1059:hover
	{
		min-height: 17px;
		margin: 0px 0px 0px 0%;
	}

	#u1059:active
	{
		min-height: 17px;
		margin: 0px 0px 0px 0%;
	}

	#u1059.MuseMenuActive
	{
		min-height: 17px;
		margin: 0px 0px 0px 0%;
	}

	#u1062-4
	{
		min-height: 17px;
		position: relative;
		top: 8px;
	}

	#u1117.MuseMenuActive #u1120-4,#u1059:hover #u1062-4
	{
		padding-top: 0px;
		padding-bottom: 0px;
		min-height: 17px;
		margin: 0px 0px 0px 0%;
	}

	#u1059:active #u1062-4
	{
		padding-top: 0px;
		padding-bottom: 0px;
		min-height: 17px;
		margin: 0px 0px 0px 0%;
	}

	#u1059.MuseMenuActive #u1062-4
	{
		padding-top: 0px;
		padding-bottom: 0px;
		min-height: 17px;
		margin: 0px 0px 0px 0%;
	}

	#u710,#u769,#u1116,#u1058
	{
		margin-top: 2px;
	}

	#menuu709,#menuu709-bw
	{
		z-index: 21;
		min-height: 178px;
	}

	#accordionu644,#accordionu644-bw
	{
		z-index: 15;
	}

	#page,#u1186_align_to_page,#u1455_align_to_page
	{
		max-width: 600px;
	}

	#u1456-4
	{
		width: 28.67%;
		left: 69.34%;
	}

	body
	{
		min-width: 320px;
	}

	#u805_img
	{
		width: 100%;
	}

}

