	#muse_css_mq
	{
		background-color: #FFFFFF;
	}

	#bp_infinity.active
	{
		display: block;
	}

	#page_position_content
	{
		margin-bottom: -42px;
	}

	#u1387
	{
		min-height: 59px;
		padding-bottom: 17px;
	}

	#u132-5
	{
		z-index: 13;
		min-height: 23px;
		margin-top: 25px;
		width: 15%;
		left: 3.13%;
	}

	#u98-4
	{
		z-index: 9;
		min-height: 18px;
		position: relative;
		margin-right: -10000px;
		margin-top: 33px;
		width: 6.57%;
		left: 58.55%;
	}

	#u108-4
	{
		z-index: 18;
		min-height: 18px;
		position: relative;
		margin-right: -10000px;
		margin-top: 33px;
		width: 7.92%;
		left: 65.11%;
	}

	#pu126-4
	{
		margin-right: -10000px;
		margin-top: 33px;
		width: 18.65%;
		margin-left: 73.13%;
	}

	#u126-4
	{
		z-index: 22;
		min-height: 18px;
		position: relative;
		margin-right: -10000px;
		width: 39.67%;
		left: 60.34%;
	}

	#u114-4
	{
		z-index: 26;
		min-height: 18px;
		position: relative;
		margin-right: -10000px;
		width: 39.11%;
	}

	#u120-4
	{
		z-index: 30;
		min-height: 18px;
		position: relative;
		margin-right: -10000px;
		width: 22.91%;
		left: 38.55%;
	}

	#u1387-bw
	{
		min-height: 59px;
	}

	#u1401-4
	{
		z-index: 42;
		width: 38.65%;
		left: 4.38%;
	}

	#u1398,#u1398-bw
	{
		z-index: 41;
	}

	#u1434
	{
		z-index: 36;
		width: 5.42%;
		left: 6.25%;
	}

	#u1414
	{
		z-index: 48;
		width: 34.62%;
		left: 32.7%;
	}

	#u1443-7
	{
		z-index: 52;
		width: 21.05%;
		left: 13.23%;
	}

	#u1437
	{
		z-index: 35;
		padding-bottom: 13px;
		width: 5.42%;
		left: 6.25%;
	}

	#u1404
	{
		z-index: 46;
		width: 30.77%;
		left: 34.62%;
	}

	#u1446-6
	{
		z-index: 59;
		margin-top: 9px;
		width: 21.05%;
		left: 13.23%;
	}

	#pu1440
	{
		margin-top: 15px;
	}

	#u1440
	{
		z-index: 34;
		width: 5.42%;
		left: 6.25%;
	}

	#u1424
	{
		z-index: 50;
		width: 42.31%;
		left: 28.85%;
	}

	#u1452-5
	{
		z-index: 65;
		width: 21.05%;
		left: 13.23%;
	}

	#u1395-4
	{
		z-index: 37;
		margin-bottom: -31px;
		width: 8.86%;
		margin-left: 5.32%;
	}

	#page,#u1387_align_to_page,#u1398_align_to_page,#u1464_align_to_page
	{
		max-width: 960px;
	}

	#u1465-4
	{
		width: 28.65%;
		left: 69.28%;
	}

	#u1464-bw
	{
		margin-top: 42px;
	}

